extends layout

block content
  h3
                   
       p Results for the Keyword "#{data1}" = #{title}
  
  h4 
                 
         a(href='/') Click here to try more  
                  
                   

        